ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;

}

div .navbar{
    background-color: red;
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

}

li{
    float: left;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: #111;
    }
}

