nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  height: 43px;
  align-items: center;
}

nav ul li{
  list-style: none;
}
nav ul{
  display: flex;
  gap: 23px;
}

.logo{
  font-weight: bold;
  font-size: 24px;
}

label{
  display: block;
}

form{
  text-align: center;
}

h1,h2{
  text-align: center;
}

input[type="text"]{
  width: 30vw;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea{
  width: 30vw;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
}